#courses div {
  display: flex;
  gap: 10px;
  margin: 1.5rem 0;
  padding: 1rem 0.8rem;
  border: solid 2px #f48a8a;
  border-radius: 0.8rem;
  background-color: #ffffff;
  color: #4b4b4b;
  cursor: pointer;
}
