body {
    background-color: white;
}

main{
    padding: 2rem;
}

#course-details-display{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
}


#course-info-details{
    background: rgb(136, 136, 136);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
}

#course-card {
    background-color: rgb(255, 255, 255, 0.5);
    margin: 1rem;
    border: solid 1px #ef6c00;
    border-radius: 0.5rem;
    width: 100vw;
    
}


.course-card img {
    width: 80vw;
}
.course-image p{
    text-align: left;
}