body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  #admin-nav {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  main {
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .page-title {
    color: #333;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  