/* Gallery styles */
body {
  background: #ffffff;
}

main {
  padding: 1rem;
}

#courses-gallery, #students-gallery, #student-with-course  {
  background-color: #d48888;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem;
}

#student-with-course  {
  background-color: #d48888;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem;
}

#student-with-course div {
  width: 80%;
  background-image: url(/content/images-new/student4.jpg);
  margin: 1rem;
  border: solid 1px #0008ef;
  background: #fff;

  border-radius: 0.5rem;
}
#student-with-course div span {
  display: block;
  background-image: url(/content/images-new/student4.jpg);
  margin: 1rem;
  border: solid 1px #0008ef;
  background: #fff;

  border-radius: 0.5rem;
}
#student-with-course div ul {
  display: block;
  background-image: url(/content/images-new/student4.jpg);
  margin: 1rem;
  border: solid 1px #ef0093;
  background: #fff;

  border-radius: 0.5rem;
}
.course-image {
  max-width: 100px;
  background-image: url(/content/images-new/student4.jpg);
  margin: 1rem;
  border: solid 1px #0008ef;
  background: #fff;

  border-radius: 0.5rem;
}


.course-image img {
  width: 100px;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}
.course-image img {
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}


.course-image p {
  text-align: left;

}
.student-image {
  max-width: 100px;
  background-image: url(/content/images-new/student4.jpg);
  margin: 1rem;
  border: solid 1px #0008ef;
  background: #fff;

  border-radius: 0.5rem;
}

.student-image img {
  width: 100px;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}
.student-image img {
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}


.student-image p {
  text-align: left;

}

@media (min-width: 768px) {
  #courses-gallery, #student-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  #courses-gallery, #student-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
