/* Index pages css classes */
/* Mobile first */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}


.menuItem {
  width: 100px;
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}


#banner {

  background-image: url('/content/images-new/banner.jpeg') no-repeat center center/cover;;
  height: 400px;
  padding: 0;
  text-align: left;
  
}

#banner > section {
  padding: 1rem;
  opacity: 0.9;
  border-radius: 5px;
}

#banner h1 {
  font-size: 1.8rem;
}

#banner p {
  padding-bottom: 1.25rem;
}

#course-info .display-image {
 display: flex;
}


main #course-info .info {
  min-height: 300px;
  padding-top: 2rem;
  text-align: center;
}

#course-info .info h3 {
  font-size: 1.5rem;
}

#course-info .info p {
  padding-bottom: 1rem;
}

#course-info .info a {
  margin-bottom: 1rem;
}

/* MEDIA QUERIES */
/* min-width: 768px */
@media (min-width: 768px) {
  #banner {
    background: url('/content/images-new/banner.jpeg') no-repeat center/cover;
    height: 600px;
    width: 100%;
    padding: 2rem 4rem;
    text-align: center;
  }

  #banner > section {
    color: #fff;
    padding: 1rem;
    opacity: 0.9;
    border-radius: 5px;
  }

  #course-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #course-info .display-image {
    display: block;
    background: url('/content/images-new/student4.jpeg') no-repeat center center/cover;
  }


  #course-info .info {
    min-height: 200px;
    padding-top: 3rem;
  }

  #course-gallery, #student-list {
    background-color: #d48888;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
  }
 
  #feature-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  #banner-area {
    background: url('../images-new/banner.jpeg') no-repeat center center/cover;
    height: 800px;
    padding: 2rem 4rem;
    text-align: center;
  }
}
